<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Book Management</title>
</head>
<body>
    <header>
        <marquee behavior="" direction="right"><h1>Book Management System</h1></marquee>
    </header>
    <div id="container">
        <div id="btns">
            <button id="listbtn">List of Books</button>
            <button id="readbtn">Read</button>
            <button id="addbtn">Add a book</button>
            <button  id="updatebtn">Update</button>
            <button onclick="deleteReq()" id="deletebtn">Delete</button>
        </div>
        <div id="content"></div>
    </div>
    <script src="../js/frontend.js"></script>
</body>
</html>
